<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Sigaa-Calendar</title>
    <link rel='stylesheet' href='/static/css/styles.css'/>
</head>
<body>
    <div class="resp">
        <h2>Dados sincronizados</h2>
        <p class="aviso">Suas tarefas e aulas serão salvas automaticamente em no máximo 1 minuto, você pode ver o resultado no Google Calendar</p>
        <a href="{{ .LinkCalendario }}"><button> Abrir Google Calendar </button></a>
    </div>
</body>
</html>
